@charset "UTF-8";
/* lane_empty（空バンレーン） */

.view_area{
	width: 100%;
	height: 100vh;
	border-top: solid 100px #fff;
	border-right: solid 10px #fff;
	border-bottom: solid 10px #fff;
	border-left: solid 10px #fff;
	overflow: hidden;
	position: relative;
	z-index:2;
}
.head_data{
	width: 100%;
	border-bottom: solid 5px #fff;
}
.head_data ul{
	height: 10vh;
	display: flex;
}
.head_data ul li{
	width: calc(25%);
	height: 10vh;
	margin: 0 2px;
	border: solid 2px #219bdd;
}
.head_data ul li h2{
	height: 4vh;
	text-align: center;
	font-size:16px;
	font-weight: bold;
	color: #FFF;
	background-color:#219bdd; 
}
.head_data ul li p{
	height: 5.3vh;
	font-size: calc(0.75vw + 1rem);
	line-height: 1.5em;
	font-weight: bold;
	padding:0 2% 0 4%;
	background-color:#fff;
	overflow: hidden;
}
.signal{
	width: 100%;
	height: 30vh;
	padding:5vh 1% 1% 25%;
	text-align: left;
	background-color: #e7ffe8;
	border: solid 5px #21d925;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.signal img{
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top:50%;left:12.5%;
	margin-left:-50px;
	margin-top: -50px;
}
.signal img.flicker{/*フリック時の○マーク*/
	display: none;
}
.signal .ok_lane{
	width: 100%;
	font-size: calc(1.5vw + 1.5rem);
	margin-bottom: 10px;
}
.signal .attention{
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	padding: 5px 15px;
	letter-spacing: 0.5px;
	background-color:#21d925;
}
/*フリック時の挙動：hover,activeで擬似表示*/
.signal:hover,
.signal:active{
	background-color: #21d925;
	border: solid 5px #e7ffe8;
}
.signal:hover > .no_sound_text,
.signal:active > .no_sound_text{
	color:#e7ffe8;
}
.signal:hover > img.flicker,
.signal:active > img.flicker{/*フリック時の○マーク*/
	display: block;
}
.signal:hover > .ok_lane,
.signal:active > .ok_lane{
	color:#e7ffe8;
}
.signal:hover > .attention,
.signal:active > .attention{
	color: #21d925;
	background-color:#e7ffe8;
}
/*ここまでフリック時の挙動*/
.blank{
	clear: both;
	height:5px;
}
.job{
	clear: both;
	width: 100%;
	height: 10vh;
	border: solid 2px #219bdd;
	border-bottom: transparent;
	overflow: hidden;
}
.job h2{
	width: 250px;
	height: 4vh;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color:#219bdd; 
}
.job div{
	padding: 0 20px 0 45px;
}
.job h3{
	display: inline-block;
	font-size: calc(0.5vw + 1rem); 
	font-weight: bold;
	position: relative;
}
.job h3:before{
	content:"";
	width: 10px;
	height: 10px;
	background-color:#219bdd;
	position: absolute;
	top:35%;left:-30px;
}
.job h3:after{
	content:"";
	width:0;
	height:0;
	border:solid 5px transparent;
	border-left:solid 10px #219bdd; 
	position: absolute;
	top:35%;right:-45px;
}
.job p{
	display: inline-block;
	font-size: calc(0.5vw + 1rem); 
	font-weight: bold;
	margin-left: 60px;
}
.schedule{
	width: 100%;
	height: 25vh;
	border: solid 2px #219bdd;
	overflow: hidden;
}
.schedule h2{
	width: 250px;
	height: 4vh;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color:#219bdd;
	position: relative;
}
.schedule h2 span{
	display:block;
	width: 40px;
	height: 3vh;
	line-height: 3vh;
	background-color: #fff;
	color: #219bdd;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top:2px;left:2px;
}
.schedule ul{
	display: flex;
	padding: 5px 10px;
}
.schedule ul li{
	width:10%;
	min-width: 90px;
	padding:0 5px;
	text-align: center;
}
.schedule ul li.current{
	background-color: #fff3f3;
	border: solid 3px #ff0000;
	border-radius:10px; 
}
.schedule ul li h3{
	font-size: 16px;
	font-weight:bold;
	text-align: center;
	margin-bottom: 3px;
}
.schedule ul li .truck{
	width: 70px;
	height:40px;
	margin: 0 auto;
	position: relative;
}
.schedule ul li .truck img{
	width: 100%;
	height:auto;
	position: absolute;
	bottom: 2px;left:0;
}
.schedule ul li .truck.pre img{
	opacity: 0.35;
}
.schedule ul li .truck .number{
	width: 50px;
	font-size: 16px;
	letter-spacing: 0;
	font-weight:bold;
	position: absolute;
	top:0;left:20px;
}
.schedule ul li .truck .number.white{
	color:#fff;
}
.schedule ul li .truck .number.navy{
	color:#003fdb;
}
.schedule ul li .bay_number{
	font-size: 16px;
	font-weight:bold;
}

@media screen and (min-width:768px) and (max-width:1023px) and (orientation: portrait) { /*タブレット縦向き対策 - ipad mini（768×1024）*/
	
	.view_area{
		width: 100%;
		height: 100vh;
		border-top: solid 100px #fff;
		border-right: solid 10px #fff;
		border-bottom: solid 10px #fff;
		border-left: solid 10px #fff;
		overflow: hidden;
		position: relative;
		z-index:2;
	}
	.head_data{
		width: 100%;
		border-bottom: solid 5px #fff;
	}
	.head_data ul{
		height: 6vh;
		display: flex;
		
	}
	.head_data ul li{
		width: calc(25%);
		height: 6vh;
		margin: 0 2px;
		border: solid 2px #219bdd;
	}
	.head_data ul li h2{
		height: 2.5vh;
		line-height: 2.5vh;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: #FFF;
		background-color:#219bdd; 
	}
	.head_data ul li p{
		height: 3vh;
		font-size: 24px;
		line-height: 1.5em;
		font-weight: bold;
		padding:0 2% 0 4%;
		background-color:#fff;
		overflow: hidden;
	}
	.signal{
		width: 100%;
		height: 15vh;
		padding:2.5vh 1% 1% 25%;
		text-align: left;
		background-color: #e7ffe8;
		border: solid 5px #21d925;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		float:none;
	}
	.signal img{
		display: block;
		width: 12%;
		height: auto;
		position: absolute;
		top:50%;left:12.5%;
		margin-left:-6%;
		margin-top: -6%;
	}
	.signal .ok_lane{
		width: 100%;
		font-size: 44px;
		line-height: 1.25em;
		margin-bottom: 10px;
	}
	.signal .attention{
		width: auto;
		display: inline-block;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		line-height: 1em;
		padding:1% 5%;
		letter-spacing: 0.5px;
		background-color:#21d925;
		margin: 5px 0 0;
	}
	/*フリック時の挙動：hover,activeで擬似表示*/
	.signal:hover,
	.signal:active{
		background-color: #21d925;
		border: solid 5px #e7ffe8;
	}
	.signal:hover > .no_sound_text,
	.signal:active > .no_sound_text{
		color:#e7ffe8;
	}
	.signal:hover > img.flicker,
	.signal:active > img.flicker{/*フリック時の○マーク*/
		display: block;
	}
	.signal:hover > .ok_lane,
	.signal:active > .ok_lane{
		color:#e7ffe8;
	}
	.signal:hover > .attention,
	.signal:active > .attention{
		color: #21d925;
		background-color:#e7ffe8;
	}
	/*ここまでフリック時の挙動*/
	.blank{
		clear: both;
		height:5px;
	}
	.job{
		clear: both;
		width: 100%;
		height: 7.5vh;
		border: solid 2px #219bdd;
		border-bottom: transparent;
		overflow: hidden;
	}
	.job h2{
		width: 250px;
		height: 2.5vh;
		line-height:2.5vh;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		background-color:#219bdd; 
	}
	.job div{
		padding: 0 5px 0 35px;
	}
	.job h3{
		display: inline-block;
		font-size: 26px; 
		font-weight: bold;
		position: relative;
		padding-top: 10px;
	}
	.job h3:before{
		content:"";
		width: 10px;
		height: 10px;
		background-color:#219bdd;
		position: absolute;
		top:45%;left:-20px;
	}
	.job h3:after{
		content:"";
		width:0;
		height:0;
		border:solid 5px transparent;
		border-left:solid 10px #219bdd; 
		position: absolute;
		top:45%;right:-35px;
	}
	.job p{
		display: inline-block;
		font-size: 26px; 
		font-weight: bold;
		margin-left: 40px;
	}
	.schedule{
		width: 100%;
		height: 28vh;
		border: solid 2px #219bdd;
		overflow: hidden;
	}
	.schedule h2{
		width: 250px;
		height: 2.5vh;
		line-height:2.5vh;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		background-color:#219bdd;
		position: relative;
	}
	.schedule h2 span{
		display:block;
		width: 40px;
		height: 2vh;
		line-height: 2vh;
		background-color: #fff;
		color: #219bdd;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		border-radius: 5px;
		position: absolute;
		top:3px;left:3px;
	}
	.schedule ul{
		display: flex;
		flex-wrap: wrap;
		padding: 5px 10px;
	}
	.schedule ul li{
		width:20%;
		min-width: 150px;
		padding:0 5px;
		margin: 10px 0;
		text-align: center;
	}
	.schedule ul li.current{
		background-color: #fff3f3;
		border: solid 3px #ff0000;
		border-radius:10px; 
	}
	.schedule ul li h3{
		font-size: 22px;
		font-weight:bold;
		text-align: center;
		margin-bottom: 5px;
	}
	.schedule ul li .truck{
		width: 95px;
		height:50px;
		margin: 0 auto;
		position: relative;
	}
	.schedule ul li .truck img{
		width: 100%;
		height:auto;
		position: absolute;
		bottom: 2px;left:0;
	}
	.schedule ul li .truck.pre img{
		opacity: 0.35;
	}
	.schedule ul li .truck .number{
		width: 55px;
		letter-spacing: 0;
		font-size: 22px;
		font-weight:bold;
		position: absolute;
		top:-2px;left:33px;
	}
	.schedule ul li .truck .number.white{
		color:#fff;
	}
	.schedule ul li .truck .number.navy{
		color:#003fdb;
	}
	.schedule ul li .bay_number{
		margin-top: 5px;
		font-size: 18px;
		font-weight:normal;
	}
}

@media screen and (min-width:0px) and (max-width:767px){ /*スマートフォンの場合*/
	
	.view_area{
		width: 100%;
		height: 100vh;
		border-top: solid 65px #fff;
		border-right: solid 5px #fff;
		border-bottom: solid 55px #fff;
		border-left: solid 5px #fff;
		overflow: hidden;
		position: relative;
		z-index:2;
	}
	.head_data{
		width: 100%;
		border-bottom: solid 5px #fff;
	}
	.head_data ul{
		height: 10.5vh;
		display: flex;
		flex-wrap: wrap; /* 折返し指定 */
	}
	.head_data ul li{
		width: calc(50% - 2px);/* margin padding分を引く */
		height:5.25vh;
		margin: 0 1px 2px;
		border: solid 1px #219bdd;
	}
	.head_data ul li h2{
		height: 2.5vh;
		line-height: 2.5vh;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #FFF;
		background-color:#219bdd; 
	}
	.head_data ul li p{
		height: 2.5vh;
		font-size: 14px;
		line-height: 2.5vh;
		font-weight: bold;
		padding:0 2%;
		background-color:#fff;
		overflow: hidden;
	}
	.signal{
		margin-top:0.25vh;
		width: 100%;
		height: 17.5vh;
		padding:4.5vh 0.5% 0.5% 25%;
		text-align: left;
		background-color: #e7ffe8;
		border: solid 5px #21d925;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		float:none;
	}
	.signal img{
		display: block;
		width: 18%;
		height: auto;
		position: absolute;
		top:50%;left:12.5%;
		margin-left:-9%;
		margin-top: -9%;
	}
	.signal .ok_lane{
		width: 100%;
		font-size: 18px;
		line-height: 1em;
		margin-bottom: 5px;
	}
	.signal .attention{
		width: auto;
		display: inline-block;
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		line-height: 1em;
		padding: 0.5% 1%;
		letter-spacing: 0;
		background-color:#21d925;
		position: static;
	}
	/*フリック時の挙動：hover,activeで擬似表示*/
	.signal:hover,
	.signal:active{
		background-color: #21d925;
		border: solid 5px #e7ffe8;
	}
	.signal:hover > .no_sound_text,
	.signal:active > .no_sound_text{
		color:#e7ffe8;
	}
	.signal:hover > img.flicker,
	.signal:active > img.flicker{/*フリック時の○マーク*/
		display: block;
	}
	.signal:hover > .ok_lane,
	.signal:active > .ok_lane{
		color:#e7ffe8;
	}
	.signal:hover > .attention,
	.signal:active > .attention{
		color: #21d925;
		background-color:#e7ffe8;
	}
	/*ここまでフリック時の挙動*/
	.blank{
		clear: both;
		height:0.5vh;
	}
	.job{
		clear: both;
		width: 100%;
		height:6vh;
		border: solid 2px #219bdd;
		border-bottom: transparent;
		overflow: hidden;
	}
	.job h2{
		width: 100%;
		height: 2.25vh;
		line-height:2.25vh;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		background-color:#219bdd; 
	}
	.job div{
		padding: 0 1% 0 3%;
	}
	.job h3{
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0;
		font-weight: bold;
		position: relative;
	}
	.job h3:before{
		content:"";
		width: 5px;
		height: 5px;
		background-color:#219bdd;
		position: absolute;
		top:40%;left:-7px;
	}
	.job h3:after{
		content:"";
		width:0;
		height:0;
		border:solid 3px transparent;
		border-left:solid 5px #219bdd; 
		position: absolute;
		top:40%;right:-12px;
	}
	.job p{
		display: inline-block;
		font-size: 12px; 
		font-weight: bold;
		margin-left: 10px;
	}
	.schedule{
		width: 100%;
		height: 27vh;
		border: solid 2px #219bdd;
		overflow: hidden;
	}
	.schedule h2{
		width: 100%;
		height: 2.25vh;
		line-height:2.25vh;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		background-color:#219bdd;
		position: relative;
	}
	.schedule h2 span{
		display:block;
		width: 35px;
		height: 1.75vh;
		line-height: 1.75vh;
		background-color: #fff;
		color: #219bdd;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		border-radius: 2px;
		position: absolute;
		top:1px;left:1px;
	}
	.schedule ul{
		display: flex;
		flex-wrap: wrap; /* 折返し指定 */
		padding: 2px;
	}
	.schedule ul li{
		width: calc(20% - 4px);/* margin padding分を引くが微調整 */
		min-width:unset;
		padding:0 2px;
		margin: 3px 2px;
		text-align: center;
	}
	.schedule ul li.current{
		background-color: #fff3f3;
		border: solid 2px #ff0000;
		border-radius:10px; 
	}
	.schedule ul li h3{
		font-size: 14px;
		font-weight:bold;
		text-align: center;
		line-height: 1em;
		margin-bottom:2px;
	}
	.schedule ul li .truck{
		width: 55px;
		height:35px;
		margin:0 auto;
		position: relative;
	}
	.schedule ul li .truck img{
		width: 100%;
		height:auto;
		position: absolute;
		bottom: 2px;left:0;
	}
	.schedule ul li .truck.pre img{
		opacity: 0.35;
	}
	.schedule ul li .truck .number{
		width: 35px;
		font-size: 12px;
		letter-spacing: 0;
		font-weight:bold;
		position: absolute;
		top:4px;left:17px;
	}
	.schedule ul li .truck .number.white{
		color:#fff;
	}
	.schedule ul li .truck .number.navy{
		color:#003fdb;
	}
	.schedule ul li .bay_number{
		margin-top: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1em;
	}
}