@charset "UTF-8";

/* roboto-condensed */
@font-face {
    font-family: 'roboto-condensed';
    font-style: normal;
    font-weight: 200;
    src: url('./font/RobotoCondensed-Light.eot'); /* IE9 Compat Modes */
    src: url('./font/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/RobotoCondensed-Light.woff') format('woff'), /* Modern Browsers */
    url('./font/RobotoCondensed-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'roboto-condensed';
    font-style: normal;
    font-weight: 400;
    src: url('./font/RobotoCondensed-Regular.eot');
    src: url('./font/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/RobotoCondensed-Regular.woff') format('woff'),
    url('./font/RobotoCondensed-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'roboto-condensed';
    font-style: normal;
    font-weight: 800;
    src: url('./font/RobotoCondensed-Bold.eot');
    src: url('./font/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('./font/RobotoCondensed-Bold.woff') format('woff'),
    url('./font/RobotoCondensed-Bold.ttf')  format('truetype');
}

/*italic*/
@font-face {
    font-family: 'roboto-condensed';
    font-style: italic;
    font-weight: 200;
    src: url('./font/RobotoCondensed-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('./font/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/RobotoCondensed-LightItalic.woff') format('woff'), /* Modern Browsers */
    url('./font/RobotoCondensed-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'roboto-condensed';
    font-style: italic;
    font-weight: 400;
    src: url('./font/RobotoCondensed-RegularItalic.eot');
    src: url('./font/RobotoCondensed-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('./font/RobotoCondensed-RegularItalic.woff') format('woff'),
    url('./font/RobotoCondensed-RegularItalic.ttf')  format('truetype');
}

@font-face {
    font-family: 'roboto-condensed';
    font-style: italic;
    font-weight: 800;
    src: url('./font/RobotoCondensed-BoldItalic.eot');
    src: url('./font/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./font/RobotoCondensed-BoldItalic.woff') format('woff'),
    url('./font/RobotoCondensed-BoldItalic.ttf')  format('truetype');
}





